<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="signuplogin.css">
    <title>Sea Rise | Login</title>
</head>

<body class="login-body" data-page="login">

    <div class="login-container">



        <div class="panel-left">
            <img src="../../Media/logo.png" class="panel-logo">

            <h1>Olá!</h1>
            <p>Já tens uma conta? Bem-vindo de volta!<br>
                Clica no botão em baixo para entrares na tua conta</p>

            <a href="signup.html" class="panel-btn">LOGIN</a>
        </div>



        <div class="panel-right">
            <h1>Criar Conta</h1>


            <p class="subtitle">Usa o teu email para te registares:</p>

            <form class="form-area">

                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <input type="number" placeholder="Idade">

                <select id="type" name="type" class="select-box">
                    <option value="" disabled selected>Trabalhas ou procuras trabalho?</option>
                    <option value="worker">Trabalho</option>
                    <option value="looker">Procuro</option>
                </select>

                <select id="job" name="job" class="select-box" style="display: none;">
                    <option value="" disabled selected>Que tipo de trabalho?</option>
                    <option value="Biólogo Marinho">Biologo Marinho</option>
                    <option value="Engenheiro Náutico">Engenheiro Náutico</option>
                    <option value="Cientista Marinho">Cientista Marinho</option>
                    <option value="Geneticista Marinho">Geneticista Marinho</option>
                    <option value="Oceanógrafo">Oceanógrafo</option>
                    <option value="Zootecnista Aquático">Zootecnista Aquático</option>
                    <option value="Treinador de Vela Competitiva">Treinador de Vela Competitiva</option>
                    <option value="Instrutor de Surf">Instrutor de Surf</option>
                    <option value="Instrutor de Canoagem">Instrutor de Canoagem</option>
                    <option value="Piloto de Embarcações de Competição">Piloto de Embarcações de Competição</option>
                    <option value="Treinador de Natação em Águas Abertas">Treinador de Natação em Águas Abertas</option>
                    <option value="Condutor de Barcos Turísticos">Condutor de Barcos Turísticos</option>
                    <option value="Instrutor de Mergulho Turístico">Instrutor de Mergulho Turístico</option>
                    <option value="Nadador Salvador">Nadador Salvador</option>
                    <option value="Chef de Bordo">Chef de Bordo</option>
                    <option value="Guia de catamaran">Guia de catamaran</option>
                    <option value="Orientador de Pesca Turística">Orientador de Pesca Turística</option>
                </select>

                <button class="primary-btn">SIGN UP</button>

            </form>


        </div>
    </div>

</body>

</html>

<script src="signuplogin.js"></script>