<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <title>Sea Rise | Criar Conta</title>
    <link rel="stylesheet" href="signuplogin.css">
</head>

<body class="login-body" data-page="signup">

    <div class="login-container">


        <div class="panel-right">
            <h1>Login</h1>


            <p class="subtitle">Bem-vindo! Tivemos saudades!</p>

            <form class="form-area">

                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">

                <button type="submit" class="primary-btn">LOGIN</button>

            </form>


        </div>



        <div class="panel-left">
            <img src="../../Media/logo.png" class="panel-logo">

            <h1>Novo cá?</h1>
            <p>Queres fazer parte do Sea Rise?<br>
                Boas notícias, podes fazer! Só precisas de inserir<br>
                os teus dados pessoais e juntar-te a nós</p>

            <a href="login.html" class="panel-btn">SIGN UP</a>
        </div>

    </div>

    <script src="signuplogin.js"></script>
</body>
</html>