.login-body {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}



.login-container {
    width: 900px;
    height: 500px;
    background: white;
    border-radius: 35px;
    display: flex;
    overflow: hidden;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);
}



.panel-left {
    width: 50%;
    background-color: #0D034E;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
}

.panel-logo {
    width: 120px;
    margin-bottom: 25px;
}

.panel-left h1 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 10px;
}

.panel-left p {
    font-size: 17px;
    line-height: 1.3;
    margin-bottom: 30px;
}

.panel-btn {
    border: 2px solid white;
    padding: 12px 40px;
    border-radius: 35px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
    transition: 0.25s;
    
}

.panel-btn:hover {
    background-color: rgba(255, 255, 255, 0.15);
}



.panel-right {
    width: 50%;
    background-color: #C3DFE0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 45px;
}

.panel-right h1 {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 15px;
}

.subtitle {
    margin: 10px 0 15px 0;
    color: #333;
    font-size: 15px;
}



.form-area {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

.form-area input {
    background-color: #A3C8D1;
    border: none;
    padding: 14px 15px;
    border-radius: 15px;
    font-size: 15px;
    outline: none;
}

.primary-btn {
    margin-top: 20px;
    background-color: #4281A4;
    color: white;
    padding: 14px 0;
    border-radius: 40px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: 0.25s;
}

.primary-btn:hover {
    background-color: #345f7f;
}




.form-label {
    text-align: left;
    font-size: 15px;
    color: #333;
    margin-top: 5px;
    margin-left: 5px;
}



.select-box {
    background-color: #A3C8D1;
    border: none;
    padding: 14px 15px;
    border-radius: 15px;
    font-size: 15px;
    outline: none;
    color: #333;
    appearance: none;
    cursor: pointer;
}




.select-box {
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='20' width='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'><polygon points='0,0 20,0 10,10'/></svg>");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 12px;
}