<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categoria</title>

    <link rel="stylesheet" href="showjobs.css">
</head>

<body>


    <object data="../../Partials/header.html" type="text/html" class="header-object">
    </object>

    <main class="category-page">



        <!-- atenção!!!! será dinamico!!!! -->

        <h1 id="category-title">Ciências</h1>


        <div class="cards-grid">
            <div class="card" onclick="window.location.href='job.html?title=Biólogo Marinho'">  <!--exemplo de como devera ser-->
                <div class="card-image"></div>

                <div class="card-content">
                    <h2>Biólogo Marinho</h2>
                    <p>blabla</p>
                    <div class="arrow">→</div>
                </div>
            </div>

            <div class="card">
                <div class="card-image"></div>
                <div class="card-content">
                    <h2>Engenheiro Náutico</h2>
                    <p>blabla</p>
                    <div class="arrow">→</div>
                </div>
            </div>

            <div class="card">
                <div class="card-image"></div>
                <div class="card-content">
                    <h2>Cientista Marinho</h2>
                    <p>blabla</p>
                    <div class="arrow">→</div>
                </div>
            </div>

            <div class="card">
                <div class="card-image"></div>
                <div class="card-content">
                    <h2>Geneticista Marinho</h2>
                    <p>blabla</p>
                    <div class="arrow">→</div>
                </div>
            </div>

            <div class="card">
                <div class="card-image"></div>
                <div class="card-content">
                    <h2>Oceanógrafo</h2>
                    <p>blabla</p>
                    <div class="arrow">→</div>
                </div>
            </div>

            <div class="card">
                <div class="card-image"></div>
                <div class="card-content">
                    <h2>Zootecnista Aquático</h2>
                    <p>blabla</p>
                    <div class="arrow">→</div>
                </div>
            </div>

        </div>

    </main>

</body>

</html>