<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profissão</title>

    <link rel="stylesheet" href="job.css">
</head>

<body>

    <object data="../../Partials/header.html" type="text/html" class="header-object"></object>

    <main class="job-page">


        <h1 id="job-title">biologo</h1>


        <div class="job-description-top">
            <p id="job-description">
                descricao bla bla bla
            </p>
        </div>

        <div class="job-media-center">
        
        </div>

        <section class="job-columns">

            <div class="column">
                <h2>Ofertas</h2>
                <button class="column-btn">Oferta 1</button>
                <button class="column-btn">Oferta 2</button>
                <button class="column-btn">Oferta 3</button>
            </div>

            <div class="column">
                <h2>Testemunhos</h2>
                <button class="column-btn">Testemunho 1</button>
                <button class="column-btn">Testemunho 2</button>
                <button class="column-btn">Testemunho 3</button>
            </div>

        </section>

    </main>

    <script src="job.js"></script>
</body>
</html>
