<link rel="stylesheet" href="header.css">

<header class="top-bar">
    <a href="../Pages/Main/main.html" target="_top">
        <img src="../Media/logo.png" class="logo-img">
    </a>

    <nav class="main-nav">
        <a href="../Pages/ShowJobs/desporto.html" target="_top">Desporto</a>
        <a href="../Pages/ShowJobs/ciencia.html"  target="_top">Ciência</a>
        <a href="../Pages/ShowJobs/turismo.html"  target="_top">Turismo</a>
    </nav>

    

    <a href="../Pages/UserProfile/userProfile.html" target="_top">
        <img src="https://i.pinimg.com/564x/bd/cc/de/bdccde33dea7c9e549b325635d2c432e.jpg" class="profile-btn">
    </a>
</header>