<link rel="stylesheet" href="/Partials/header.css">

<header class="top-bar">
    <img src="/Media/logo.png" class="logo-img">

    <nav class="main-nav">
        <a href="#">Desporto</a>
        <a href="#">Ciência</a>
        <a href="#">Turismo</a>
    </nav>

    <a href="/Pages/UserProfile/userprofile.html" class="profile-link" title="O meu perfil">
        <img src="https://i.pinimg.com/564x/bd/cc/de/bdccde33dea7c9e549b325635d2c432e.jpg" class="profile-btn" alt="Perfil">
    </a>
</header>

