<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oferta</title>

    <link rel="stylesheet" href="offer.css">
</head>

<body>

    <object data="../../Partials/header.html" type="text/html" class="header-object"></object>

    <main class="offer-page">
        <h1 id="offer-title">Nome da Oferta</h1>
        <div class="offer-media">
            <img src="https://i.pinimg.com/736x/2c/d9/a2/2cd9a2f158dadb67b84db7f022a05bf3.jpg"
                 alt="Imagem da oferta">
        </div>



        <section class="offer-requirements">
            <h2>Requisitos</h2>

            <p>
                Aqui estarão listados os requisitos exigidos pela empresa para esta oferta.
                Podes colocar texto longo, bullet points, parágrafos… o que quiseres.
            </p>

            <ul>
                <li>Experiência relevante na área</li>
                <li>Disponibilidade imediata</li>
                <li>Competências em navegação e segurança marítima</li>
                <li>Boa comunicação e capacidade de trabalho em equipa</li>
            </ul>
        </section>



        <section class="offer-testemunhos">

            <div class="column">
                <h2>Testemunhos</h2>

                <button class="column-btn">Testemunho 1</button>
                <button class="column-btn">Testemunho 2</button>
                <button class="column-btn">Testemunho 3</button>
            </div>

        </section>

    </main>

    <script src="offer.js"></script>
</body>
</html>
