html, body {
    margin: 0;
    padding: 0;
    background-color: #C3DFE0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    background-color: transparent;
}


.header-object {
    width: 100%;
    height: 86px;
    display: block;
    margin: 0;
    padding: 0;
    border: none;
}



.hero {
    background-image: 
        linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.45)),
        url("../../Media/main-bg.png");
    background-size: cover;
    background-position: center;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    color: white;
    font-size: 3rem;
    font-weight: bold;
}





.cards-section {
    padding: 2.5rem 3rem 3rem;
    background-color: transparent;
}

.cards-grid {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
    padding: 50px 0;

}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    transition: transform 0.35s ease;
    transform-origin: center;
    cursor: pointer;
    width: 330px;
}

.card:hover {
    transform: scale(1.06);
}


.card img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.4s ease, filter 0.4s ease;
}



.card::after {
    content: attr(data-label);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-weight: bold;
    color: white;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.35s ease;
    text-shadow: 0px 2px 6px rgba(0,0,0,0.5);
}


.card:hover img {
    transform: scale(1.08);
    filter: brightness(40%);
}

.card:hover::after {
    opacity: 1;
}